version: '3.3'
services:
  mongodb:
    image: mongo
    env_file:
      - .env
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - mongodb:/data/db
    ports:
      - $DB_PORT:$DB_PORT
    restart: unless-stopped

  backend:
    build: .
    env_file:
      - .env
    depends_on:
      - mongodb
    links:
      - mongodb
    ports:
      - $SERVER_PORT:$SERVER_PORT

volumes:
  my-db:
  mongodb: